* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* light background instead of blue */
}
button {
  cursor: pointer;
}

.page-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  border-radius: 16px;
  padding: 28px;
  width: 360px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 8px;
  margin-bottom: 14px;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: #f97316;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
